{% extends "ngo/base.html" %}

{% block style %}
  
    .fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 40%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-linkedin {
    background: #0e76a8 ;
    color: white;
}
.fa-envelope {
    background: #BB001B ;
    color: white;
}

.fa-whatsapp {
  background: #25D366;
  color: white;
}

.padding-c{
    padding-top: 100px;
}

{% endblock style %}

{% block body %}

          <div class="container padding-c">
            <div class="jumbotron">
          <h1 class="display-4">DaanData</h1>
          <p class="lead">One place for all your services,platform for small business.</p>
          <hr class="my-4">

  
        </div>
          </div>
        
      
        <div class="album py-5 bg-light">
          <div class="container">
      
            <div class="row">
              <div class="col-lg-3">
                <div class="card shadow-sm"> 
                    <img src="/media/images/priyal.jpg" class="card-img-top" alt="..." style="max-height:500px;">     
                  <div class="card-body">
                    <h5 class="card-title">Sashank MVV</h5><hr>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="row">
                        <div class="col">
                            <a href="https://wa.me/918169974101?text=Hey!%20I%20would%20like%20to%20connect%20with%20you%20regarding%20your%20website" class="fa fa-whatsapp"></a>
                        </div>
                        <div class="col">
                          <a href="https://www.linkedin.com/in/sashank-m-v-v-39034b192/" class="fa fa-linkedin"></a>
                        </div>
                        <div class="col">
                            <a href="mailto:sashankmvv@gmail.com" class="fa fa-envelope"></a>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card shadow-sm">  
                    <img src="/media/images/priyal.jpg" class="card-img-top" alt="..." style="max-height:500px;">         
                  <div class="card-body">
                    <h5 class="card-title">Harshit Jain</h5><hr>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="row">
                        <div class="col">
                            <a href="https://wa.me/919730813585?text=Hey!%20I%20would%20like%20to%20connect%20with%20you%20regarding%20your%20website" class="fa fa-whatsapp"></a>
                        </div>
                        <div class="col">
                          <a href="https://www.linkedin.com/in/harshit-n-jain/" class="fa fa-linkedin"></a>
                        </div>
                        <div class="col">
                            <a href="mailto:flyasharshit24.hj@gmail.com" class="fa fa-envelope"></a>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card shadow-sm">    
                    <img src="/media/images/priyal.jpg" class="card-img-top" alt="..." style="max-height:500px;">       
                  <div class="card-body">
                    <h5 class="card-title">Priyal Babel</h5><hr>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="row">
                        <div class="col">
                            <a href="https://wa.me/918976514635?text=Hey!%20I%20would%20like%20to%20connect%20with%20you%20regarding%20your%20website" class="fa fa-whatsapp"></a>
                        </div>
                        <div class="col">
                          <a href="https://www.linkedin.com/in/priyal-babel/" class="fa fa-linkedin"></a>
                        </div>
                        <div class="col">
                            <a href="mailto:priyalbabel@gmail.com" class="fa fa-envelope"></a>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card shadow-sm">
                    <img src="/media/images/priyal.jpg" class="card-img-top" alt="..." style="max-height:500px;">     
                  <div class="card-body">
                    <h5 class="card-title">Devansh Shah</h5><hr>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="row">
                        <div class="col">
                            <a href="https://wa.me/918767036024?text=Hey!%20I%20would%20like%20to%20connect%20with%20you%20regarding%20your%20website" class="fa fa-whatsapp"></a>
                        </div>
                        <div class="col">
                          <a href="https://www.linkedin.com/in/devansh-shah-6162841a4/" class="fa fa-linkedin"></a>
                        </div>
                        <div class="col">
                          <a href="mailto:devanshshah649@gmail.com" class="fa fa-envelope"></a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              
            
      
      <footer class="text-muted py-5">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Back to top</a>
          </p>
        </div>
      </footer>

  
    <!-- Optional JavaScript; choose one of the two! -->

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>   
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>


    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
{% endblock body %}
